.section-map {
  height: 40vh;
  width: 100vw;
}

.invitation-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  text-align: center;
  color: #013C5A; 
  font-family: 'Sofia Sans Condensed', sans-serif;
}

.invitation-content h1 {
  font-size: 2rem;
  margin: 0;
  font-family: 'Mynerve', sans-serif;
  color: #013C5A;
}
